<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/gelato-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Pronto Cafe Gelateria</title>
    <script type="module" crossorigin src="/assets/index-Du7Za7M5.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-0YMdigUp.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
